<html>
<head>
	<!-- Note that putting a title here does not work. The title should go under application.html.erb.-->
</head>
<body>
<marquee><h1>Les Bananes</h1></marquee>
<h3>i carry your <%= @name %> with me</h3>
<p class="righty">i carry your <%= @name %> with me(i carry it in<br />
my <%= @name %>)i am never without it(anywhere<br />
i go you go,my dear; and whatever is done<br />
by only me is your doing,my darling)<br />
i fear<br />
no fate(for you are my fate,my sweet)i want<br />
no world(for beautiful you are my world,my true)<br />
and it's you are whatever a moon has always meant<br />
and whatever a sun will always sing is you</p>

<p class ="lefty">here is the deepest secret nobody knows<br />
(here is the root of the root and the bud of the bud<br />
and the sky of the sky of a tree called life;which <br />grows
higher than the soul can hope or mind can hide)<br />
and this is the wonder that's keeping the stars apart</p>

<p class="end">i carry your <%= @name %> (i carry it in my <%= @name %>)</p><br /><br /><br />

*I have used bananas as my variable to replace the word heart in the poem.<br /><br />

Questions about the assignment for Mr. Hugon:<br />
1. When I wanted to change the title, I noticed that I had to use the page application.html.erb. Why would we even create a welcome with its own index instead of simply working out of the application.html.erb already created for us under layouts? Is the welcome folder even necessary?</body></html>
